@import '../../variables.scss';

#addReceiptButton {
	position: absolute;
	bottom: 5.7rem;
	font-family: 'Varela Round', sans-serif;
	font-size: 3.3rem;
	color: $white;
	padding: 0;
	background-color: $red;
	border: 3px solid $red-dark;
	border-radius: 50%;
	right: 1.5rem;
	width: 4rem;
	height: 4rem;
}
