@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

$main: #50C346;
$green: #1C9C1F;
$green-dark: #007700;
$grey: #A2AF9F;
$grey-dark: #3F4A3C;
$blue: #0094FF;
$blue-dark: #006AC2;
$red: #FF005B;
$red-dark: #D60505;

$white: #eeeeee;
$black: #111111;

$font: 'Varela Round', sans-serif;

* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	background: transparent;
	font-family: $font;
}

.btn {
	display: inline;
	padding: 0.2rem;
	border: 1.5px solid;
	border-radius: 0.5rem;
	margin-right: 1rem;
}

.btnBlue {
	background-color: $blue;
	border-color: $blue-dark;
}

.btnRed {
	background-color: $red;
	border-color: $red-dark;
}

.ReactModal__Overlay, .ReactModal__Overlay--after-open{
	display: flex !important;
	background-color: rgba(0, 0, 0, 0.75) !important;
	
	.ReactModal__Content, .ReactModal__Content--after-open {
		top: auto !important;
		left: auto !important;
		right: auto !important;
		bottom: auto !important;
		position: static !important;
		justify-content: center;
		align-items: center;
		margin: auto;
		background-color: $green !important;
		border-color: $black !important;
		border-radius: 1rem !important;
	}
}
