@import '../variables.scss';

#divNavbar {
	background-color: $grey-dark;
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 4rem;
	display: flex;
	
	#divNavbarFlexed {
		flex-grow: 1;
		display: flex;
		justify-content: space-around;
		
		* {
			font-size: 1.4rem;
			color: $white;
		}
	
		a {
			text-decoration: none;
			display: flex;
			align-items: center;
		}	
	}
	
	img {
		width: auto;
		height: 100%;
		border-radius: 0.3rem 0 0 0.3rem;
	}
}