@import '../variables.scss';

.transactionItemContainer {
	
	.transactionItemHeader {
		display: flex;
		padding: 0.3rem;
		font-size: 1.2rem;
		font-weight: bold;
		
		img {
			border-radius: 50%;
			padding: 0;
			margin: 0.3rem;
		}
		
		span {
			flex-grow: 1;
		}
		
		* {
			align-self: center;
			padding: 0.3rem;
		}
	}
	
	.transactionItemSummary {
		padding: 0.3rem 2.5rem 0.8rem 2.5rem;
	}
	
	@media (max-width: 768px) {
		.transactionItemHeader {
			font-size: 0.9rem;
		}
		
		.transactionItemSummary {
			padding: 0.2rem;
		}
	}
}